#menu{
	width: auto;
	height: auto;
	background-color: pink;
	float: left;
}
#menu>ul>li>a{
	float: left;
}
#menu>ul>li{
	font-size: 15px;
	display: inline-block;
	text-align: center;
	padding: 1px;
	background: pink;
	float: left;


}
