#slider {
	background-color: pink;
	width: auto;
	height: auto;
}
#menu{
	 margin: 0px;
   	 padding: 0px;
   	 font-family: sans-serif;
  	 color:green;
  	 background: pink;
  	 list-style-type: none;
     text-align: center;
}
#menu li{
	 background: #1F568B;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}
#menu li {
  color: #f1f1f1;
  float: left;
  width: auto;
  height: 40px;
  line-height: 40px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;

}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
   }
#start {
  background-color: pink;
  width: auto;
  height: auto;
}
#video{
  background-color: yellow;
  width: auto;
  height: auto;
}
#lienhe{
  background-color: green;
  width: auto;
  height: auto;
}